#widget
  %ul
    %li
      #details
        %h3 Shopping Basket
      #totals
        $Millions
    %li.middle
    %li.right
      #cat-list
        %h3 Categories
        %ul
          %li Pants
          %li T Shirts
          %li Jeans
  %ul.checkout
    %li
      Price totals
    %li.middle
    %li.right
      %input{type: "button", value: "Checkout"}