%input{:name => "colour", :type => "hidden"}/
.select-box{:for => "colour"}
  %span C
  .options.colour.clearfloat
    %ul.clearfloat
      - if product.colours
        - product.colours.each do |colour|
          %li= colour
      