%footer
  .container
    %span Three Over One Pty. Ltd.
    .right.pull-right
      %span About &middot;
      %span Contact &middot;
      %span Search &middot;
      %span Privacy & Purchasing Information