%header
  .container.clearfloat
    %nav.clearfloat
      %span.three.column.logo= link_to "THREE OVER ONE", root_path
      %span.three.column.section.s2 HOME
      %span.three.column.menu
        .nav-items= link_to "ABOUT", about_pages_path
        &middot;
        .nav-items.shop-nav= link_to "SHOP", ""
        / collections_path
        &middot;
        .nav-items= link_to "BLOG", ""
