.select.size
  %input{:name => "size", :type => "hidden"}/
  .select-box{:for => "size"}
    %span S
    .options.size
      %ul.clearfloat
        - if product.sizes
          - product.sizes.each do |prod_size|
            %li= prod_size