.select.clearfloat
  %input{:name => "size", :type => "hidden"}/
  .select-box{:for => "size"}
    %span S
    .options.size.clearfloat
      %ul.clearfloat
        - sizes.each do |prod_size|
          %li= prod_size