#slides
  .slides_container
    - for slide in @slides
      - if slide.images.size > 0
        %div= image_tag slide.images.first.src
  
  %a.prev{:href => "#"}
    %img{:alt => "Arrow Prev", :height => "43", :src => "img/arrow-prev.png", :width => "24"}/
  %a.next{:href => "#"}
    %img{:alt => "Arrow Next", :height => "43", :src => "img/arrow-next.png", :width => "24"}/

