#front-page-slides
  #slide-show
    %ul.cf
      - for slide in @slides
        - if slide.images.size > 0
          = image_tag slide.images.first.src
        - else
          %li.slide-content
            %a.thumbnail{href: "#"}
              %img{src: "http://placehold.it/260x180", alt: ""}
#front-page
  .inner
