#slides
  .slides_container
    - for slide in @slides
      - if slide.images.size > 0
        %div= image_tag slide.images.first.src
  
  %a.prev{:href => "#"}
    = image_tag "arrow-prev.png", alt: "Previous"
  %a.next{:href => "#"}
    = image_tag "arrow-next.png", alt: "Next"
  