<p>The <strong>About Us</strong> page of your shop is vital because it&#8217;s where users go when first trying to determine a level of trust.  Since trust is such an important part of selling online, it&#8217;s a good idea to give people a fair amount information about yourself and your shop.  Here are a few things you should touch on:</p>
<ul>
	<li>Who you are</li>
	<li>Why you sell the items you sell</li>
	<li>Where you are located</li>
	<li>How long you have been in business</li>
	<li>How long you have been running your online shop</li>
	<li>Who are the people on your team</li>
</ul>
