%p
  The
  %strong About Us
  page of your shop is vital because it’s where users go when first trying to determine a level of trust.  Since trust is such an important part of selling online, it’s a good idea to give people a fair amount information about yourself and your shop.  Here are a few things you should touch on:
%ul
  %li Who you are
  %li Why you sell the items you sell
  %li Where you are located
  %li How long you have been in business
  %li How long you have been running your online shop
  %li Who are the people on your team
