{% assign collection = collections.outfits %}

{% assign repeatCount = 0 %}

{% for product in collection.products %}
    
    {% if repeatCount == 0 %}
      <div class="row clearfloat">
        {% include 'outfit-products' %}
        <div class="inner product-row clearfloat">
    {% endif %}
        
    {% if product.featured_image.src %}
      <a href="#" class="product-thumb" data="{{ product.handle }}">
        <img src="{{ product.featured_image.src | product_img_url: 'large' }}">
      </a>
    {% endif %}
        
    {% assign repeatCount = repeatCount | plus: 1 %}
        
    {% if repeatCount == 3 %}
      {% assign repeatCount = 0 %}
      </div><!-- product-row --> 
      </div><!-- row -->            
    {% endif %}
        
{% endfor %}   
