<div class="clearfix">
  <div id="not_found">
    <h2>Page not found <span><sup>404</sup></span></h2>
    <form id="search_form" class="searchform" name="search" action="/search">
      <input type="text" class="replace" name="q" value="Search..." />
    </form>
  </div> <!-- /#not_found -->
</div>