//= require_self
//= require twitter/bootstrap
//= require bootstrap_and_overrides
//= require imports
//= require three-over-one


#slides {
  .rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .rslides li {
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
  }

  .rslides li:first-child {
    position: relative;
    display: block;
    float: left;
  }

  .rslides img {
    display: block;
    height: 650px;
    margin: auto;
    width: auto;
    border: 0;
  }
  a {
    position: fixed;
    top: 50%;
    margin-top: -100px;
    z-index: 998;
    &.prev {
      left: 25px;
    }
    &.next {
      right: 25px;
    }
  }
}
