//= require_self
//= require twitter/bootstrap
//= require bootstrap_and_overrides
//= require imports
//= require three-over-one


#slides {
  .rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
    
    li {
      position: absolute;
      display: none;
      width: 100%;
      left: 0;
      top: 0;
    }

    li:first-child {
      position: relative;
      display: block;
      float: left;
    }

    img {
      display: block;
      height: 650px;
      margin: auto;
      width: auto;
      border: 0;
    }
    
  }


  
  .rslides_nav {
    width: 51px;
    height: 100px;
    position: fixed;
    top: 50%;
    margin-top: -100px;
    z-index: 998;
    
    &.next {
      right: 25px;
      background: image-url('arrow-next.png') no-repeat;
    }
    
    &.prev {
      left: 25px;
      background: image-url('arrow-prev.png') no-repeat;
    }
  }
}
