$background_colour: #F5EFE5;
$white:             #fff;
$line_color:        #000;
$grey:              #ccc;
$width:             960px;
$border:            1px solid black;
$margin:            20px;

/* SECTION */

body {
  background: $background_colour;
}

.container {
  #products {
    margin: ($margin * 2) 0;
    padding: 0;
    overflow: auto;
    overflow-x: hidden;
    
    .detail {
      float: left;
      width: $width;
      background: $white;
      margin: 0;
      padding: $margin;
      p {
        width: $width - $margin * 2;
      }
    }

    .row {
      width: $width;
      height: 440px;
      background: $background_colour;
      float: left;
      margin: 0;
      padding: 0;
      .thumb {
        overflow: hidden;
        width: 238px;
        height: 360px;
        float: left;
        background: none;
        display: block;
        padding: $margin;
        margin: $margin;
        border: $border;
      }
      
    }
  }
}

