.related-products {
  list-style-type: none;
  
  * {
    font-size: 12px;
    text-align: center;
    padding: 0;
  }
  
  h4 {
    border: none;
    margin: 10px 0 0 0;
    line-height: 1.3;
  }
  
  div.image {
    height: 100px;
  }
  
  li {
    float: left;
    width: 120px;
    height: 160px;
    margin-right: 20px;
  }
  
  overflow: hidden;
  
  span.money {
    font-size: 0.8em;
  }
  
  li:last-child {
    margin-right: 0;
  }
}
