html, body {
  margin: 0px;
  line-height: 20px;
  height: 100%;
  min-height: 100%;
  min-width: 980px;
}

.clearfloat:after {
  content: " ";
  display: block;
  clear: both;
}

.inner {
  width: 960px;
  padding: 0px 20px 0px 20px;
  margin: 0px auto;
}

.column.three {
  width: 320px;
  display: block;
  float: left;
  &.menu div.nav-items {
    padding: 10px 5px 9px;
    display: inline-block;
    background-color: transparent;
  }
}

span {
  font-size: 11px;
  &.s2 {
    font-size: 16px;
  }
}

img {
  border: 0px;
}

a {
  color: #000;
  text-decoration: none;
  &:hover {}
}

.last {
  margin-right: 0px !important;
}

/* HEADER */

header {
  display: block;
  background: #F5EFE5;
  padding-bottom: 20px;
  position: fixed;
  width: 100%;
  min-width: 980px;
  
  .inner {
    position: relative;
    nav {
      border-bottom: 1px solid #000;
      background: #F5EFE5;
      position: relative;
      z-index: 999999999;
    }
    
    #menu-shop:hover nav.sub {
      display: block;
    }
    
    nav.sub {
      display: none;
      position: absolute;
      bottom: -25px;
      top: 0px;
      right: 20px;
      left: 20px;
      margin: auto;
      border: 0px;
      height: 70px;
    }
    
    #menu-shop span {
      position: absolute;
      border: 1px solid;
      background: #F5EFE5;
      padding: 5px 16px;
      width: 480px;
      bottom: 11px;
      left: 0px;
      right: 0px;
      margin: auto;
      text-align: center;
    }
  }
  .menu {
    text-align: right;
    padding: 0;
    a {
      padding-left: 5px;
      display: inline-block;
      &:nth-child(-n+2) {
        padding-right: 5px;
      }
    }
  }
  
  nav .three:nth-child(-n+2) {
    padding-top: 10px;
    padding-bottom: 9px;
  }
  .section {
    text-align: center;
    /*margin: 0px 20px 0px 20px; //WIDTH WITH MARGINS*/
  }
}

#shop-nav {
  margin-top: 10px;
  margin-bottom: 9px;
}

#shop-nav-down {
  position: absolute;
  overflow: hidden;
  left: 50%;
  margin: -300px 0 0 -480px;
  background: white;
  width: 920px;
  height: 260px;
  z-index: 998;
  padding: 20px;
}

#shop-nav-main {
  margin: auto;
  width: 100%;
  height: 100%;
}

/* SECTION */

section {
  float: left;
  width: 100%;
  min-height: 100%;
  position: relative;
  background: #F5EFE5;
  min-width: 980px;
  padding-bottom: 100px;
  
  .row {
    width: 100%;
    .product-detail, .cart {
      width: 100%;
      background: #fff;
      position: relative;
      overflow: hidden;
      height: 0px;
    }
    
    .product-detail {
      &.open {}
      .product-detail-inner {
        width: 480px;
        margin-top: 20px;
        margin-bottom: 20px;
          
        &.left {
          float: left;
          .imageInner {
            width: 400px;
            background: #F5EFE5;
            margin-left: 40px;
            height: 600px;
            position: relative;
          }
          
          &.type1 {
            .imageContainer {
              width: 360px;
              height: 520px;
              background: #aaa;
              margin: 20px;
              display: block;
              float: left;
              position: relative;
              overflow: hidden;
              img {
                width: 100%;
                height: 100%;
                display: block;
              }
            }
            .imageNav {
              list-style: none;
              padding: 0px;
              float: left;
              width: 40px;
              height: 23px;
              margin: 0px 20px;
              border: 1px solid #ccc;
              height: 18px;
              position: relative;
              &:hover .imageThumbs {
                display: block;
              }
            }
            .imageThumbs {
              width: 400px;
              height: 580px;
              background: none;
              bottom: -1px;
              left: -20px;
              display: block;
              position: absolute;
              overflow: hidden;
              display: none;
            }
            .imageThumbsContainer {
              width: 360px;
              height: 520px;
              background: #999;
              margin: 20px;
              display: block;
              position: absolute;
              overflow: hidden;
            }
            .imageThumbs a {
              display: block;
              float: left;
              width: 180px;
              height: 260px;
              img {
                width: 100%;
                height: 100%;
              }
            }
          }
        }
        &.right {
          float: right;
        }
      }
      
      #product-detail-items {
        min-height: 460px;
      }
      
      .selected-items {
        padding: 20px 0px;
        /*border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;*/
        text-align: center;
        
        span.selected-items-total {
          display: block;
          text-align: left;
          width: 120px;
          float: left;
          /*border-right: 1px solid #ccc;*/
          span {
            display: block;
            font-size: 13px;
            height: 40px;
            border-bottom: 1px solid #ccc;
            border-top: 1px solid #ccc;
            line-height: 40px;
            + span {
              height: auto;
              border: 0px;
              line-height: 20px;
            }
            b {
              font-weight: normal;
              font-size: 16px;
            }
          }
        }
        
        input[type="button"] {
          display: block;
          margin-left: 160px;
        }
      }
      
      .product-detail-item {
        width: 100%;
        margin-top: 0px;
        margin-bottom: 20px;
        margin-right: 40px;
        
        a.img {
          display: block;
          float: left;
          margin-right: 40px;
        }
        
        img {
          display: block;
          width: 120px;
          height: 100px;
        }
        
        .item-selection {
          display: block;
          float: left;
          width: 320px;
        }
      }
      
      .item-selection h1 {
        margin: 0px;
        float: left;
        width: 320px;
        border-bottom: 1px solid #ccc;
        font-size: 13px;
        font-weight: normal;
        min-height: 60px;
      }
      
      .smallprice {
        float: right;
        font-size: 21px;
      }
      
      .product-detail-item .item-selections {
        border-bottom: 1px solid #ccc;
        width: 320px;
        float: left;
        position: relative;
        padding: 9px 0px 9px 0px;
      }
      
      h1.title {
        font-size: 21px;
        font-weight: normal;
        text-align: center;
        margin: 60px 0px 40px 0px;
      }
      
      p.description {
        font-size: 11px;
        line-height: 16px;
        text-align: center;
        min-height: 80px;
      }
      
      span {
        &.price {
          font-size: 35px;
          display: block;
          text-align: center;
          line-height: 40px;
        }
        
        &.code {
          font-size: 11px;
        }
      }
      
      a {
        &.sizechart {
          font-size: 11px;
          display: block;
          text-align: center;
        }
        
        &.add-item {
          display: block;
          float: right;
          height: 20px;
          width: 20px;
          line-height: 20px;
          border-radius: 10px;
          background: #ccc;
          text-align: center;
          position: relative;
        }
      }
      
      .select {
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
        .select-box {
          display: inline-block;
          float: none !important;
          margin-right: 0px;
        }
      }
      
      .select-box {
        position: relative;
        width: 20px;
        height: 20px;
        margin-right: 5px;
        float: left;
        span {
          display: block;
          float: left;
          height: 20px;
          width: 20px;
          line-height: 20px;
          border-radius: 10px;
          background: #ccc;
          text-align: center;
          position: relative;
        }
      }
      
      .options {
        margin: 0px;
        padding: 10px;
        list-style: none;
        position: absolute;
        left: -20px;
        top: -14px;
        z-index: 1;
        display: none;
        width: 92px;
        font-size: 12px;
        ul {
          margin: 0px;
          padding: 2px 0px 2px 2px;
          list-style: none;
          background: #fff;
          border: 1px solid #ccc;
          border-radius: 12px;
          position: relative;
          left: 0px;
          top: 0px;
        }
      }
    }
  }
}

/*ROW OF THREE PRODUCTS + DETAIL */

/*PRODUCT DETAIL */

/* selected items */

/* THUMB NAIL */

/* RIGHT SIDE - WITH NAME AND PURCHASE OPTIONS */

/*singular item*/

.select-box.focus .options {
  &.colour, &.size {
    display: block !important;
  }
}

section .row {
  .product-detail {
    .options li {
      float: left;
      background: #eee;
      border-radius: 12px;
      display: block;
      width: 20px;
      text-align: center;
      cursor: pointer;
      position: relative;
      margin-right: 2px;
      .measurements {
        position: absolute;
        display: none;
        background: #F00;
        width: 40px;
        height: 10px;
        top: -10px;
      }
      &:hover .measurements {
        display: block;
      }
    }
    .add-to {
      padding: 20px 0px;
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      text-align: center;
    }
    input[type="button"] {
      appearance: none;
      border: 1px solid #bbb;
      border-radius: 0px;
      margin: 0px;
      padding: 10px 0px;
      width: 190px;
      background: #F5EFE5;
      font-size: 16px;
      font-family: serif;
      cursor: pointer;
    }
    #related-items {
      margin-top: 20px;
      h2 {
        font-size: 21px;
        font-weight: normal;
        margin: 20px 0px;
      }
      a {
        display: block;
        float: left;
        &.first {
          margin-left: 0px;
        }
        img {
          display: block;
          width: 150px;
        }
      }
    }
  }
  
  .product-row a {
    float: left;
    display: block;
    width: 278px;
    border: 1px solid #000;
    margin: 20px;
    position: relative;
    &.showing:after {
      content: " ";
      display: block;
      position: absolute;
      top: 0px;
      right: 0px;
      width: 0px;
      height: 0px;
      border-left: 40px solid transparent;
      border-right: 40px solid #000;
      border-bottom: 40px solid transparent;
      border-top: 0px solid transparent;
    }
    img {
      display: block;
      margin: 20px;
      width: 238px;
      height: 360px;
    }
  }
}

.cart {
  hgroup {
    text-align: center;
    margin-top: 20px;
    height: 100px;
    float: left;
    width: 100%;
    h1 {
      font-size: 21px;
      font-weight: normal;
      margin: 0px;
    }
  }
  
  .cart-order-items {
    width: 100%;
    text-align: center;
    
    .cart-item {
      display: inline-block;
      background: #fff;
      border: 1px solid #000;
      width: 208px;
      height: 318px;
      margin: 0px 0px 0px 20px;
      text-align: left;
      vertical-align: top;
      &.first {
        margin: 0px;
      }
      ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
        vertical-align: top;
      }
    }
  }
}

.cart-item ul {
  .border1 {
    border-top: 1px solid #ccc;
    background: #F5EFE5;
    padding: 0px 10px;
  }
  .noshade {
    background: #fff;
  }
  .product-image {
    position: relative;
    a {
      position: absolute;
      right: 0px;
      top: 0px;
      display: block;
      color: #fff;
      span {
        width: 20px;
        top: 5px;
        position: relative;
        z-index: 1;
        color: #fff;
        border: 0px;
        text-align: center;
      }
      &:before {
        display: block;
        content: " ";
        position: absolute;
        top: 0px;
        right: 0px;
        height: 0px;
        width: 0px;
        border-top: 40px solid #999;
        border-bottom: 40px solid transparent;
        border-right: 0px solid transparent;
        border-left: 40px solid transparent;
      }
    }
    img {
      margin: 9px;
      width: 190px;
      height: 160px;
    }
  }
  .product-title {
    font-size: 13px;
    line-height: 15px;
    min-height: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  span {
    width: 69px;
    display: block;
    float: left;
    position: relative;
    border-right: 1px solid #ccc;
    + span {
      width: 108px;
      border: 0px;
      padding-left: 10px;
    }
  }
  .product-total span {
    width: 123px;
    border: 0px;
    display: block;
    float: left;
    position: relative;
    line-height: 30px;
    + span {
      width: 54px;
      border: 0px;
      padding-left: 10px;
      font-size: 21px;
      text-align: right;
    }
  }
}

.cart {
  #cart-totals {
    margin-top: 70px;
    text-align: center;
    width: 440px;
    margin: 70px auto 0px;
    border-bottom: 1px solid #ccc;
    span {
      display: inline-block;
      width: 200px;
      text-align: right;
      font-size: 13px;
      line-height: 20px;
      padding-bottom: 5px;
    }
    .spacer {
      width: 40px;
      text-align: center;
      font-size: 20px;
      padding-bottom: 0px;
      + span {
        text-align: left;
      }
    }
  }
  .add-to {
    border: 0px !important;
  }
}

#front-page-slides {
  width: 100%;
  height: 100%;
  min-height: 480px;
  background: #eee;
  position: absolute;
  top: 0px;
  ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
  }
}

#slide-show-nav {
  width: 400px;
  height: 24px;
  background: #333;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto !important;
  z-index: 2;
  text-align: center;
  li {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #fff;
    margin: 0px 5px;
  }
}

#slide-show {
  width: 1024px;
  height: 100%;
  background: #222;
  overflow: hidden;
  overflow-x: scroll;
  position: relative;
  min-width: 960px;
  margin: 0px auto;
  .slide-content {
    width: 400px;
    height: 100px;
    background: #000;
    opacity: 0.3;
    top: 98px;
    left: 40px;
    z-index: 2;
    position: absolute;
  }
  ul {
    position: absolute;
    width: 3072px;
    height: 100%;
    background: #aaa;
    li {
      float: left;
      height: 100%;
      width: 1024px;
      background: #eee;
      overflow: hidden;
      position: relative;
      img {
        position: absolute;
        height: 100%;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        margin: auto;
      }
    }
  }
}


footer {
  position: absolute;
  bottom: 0px;
  height: 60px;
  width: 100%;
  background: #cccccc;
  .inner {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
